importFrom("Matrix", spMatrix, diff, t, solve)

export(
       "cwt",
       "getLocalMaximumCWT",
       "getRidge",
       "identifyMajorPeaks",
       "widthEstimationCWT",
       "plotwidthEstimation",
       "baselineCorrectionCWT",
	   "plotRidgeList",
	   "WhittakerSmooth",
	   "localMaximum"
       )
